body{
  background-image: url('https://t3.ftcdn.net/jpg/08/96/96/26/360_F_896962600_XlsoDgnsm2Bk9gMUObvP820EzUWEcmz9.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-div{
  padding-top: 20px;
  margin-left: 25%;
}
.teacher-messages-container{
  width: 60%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}