.teachers-list {
  padding: 20px;
}

.teacher-card {
  background: #f9f9f9;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: darkred;
}
