<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="entire-div">
    <mat-card *ngIf="!isLoading; else loading">
      <h2>Student Profile</h2>
      <div>
        <p><strong>Name:</strong> {{ profileData?.name }}</p>
        <p><strong>Email:</strong> {{ profileData?.email }}</p>
        <p><strong>Date of Birth:</strong> {{ profileData?.dateOfBirth }}</p>
        <p><strong>Class:</strong> {{ profileData?.studentClass }}</p>
        <p><strong>Password:</strong> {{ profileData?.password}}</p>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Update Date of Birth</mat-label>
          <input matInput [(ngModel)]="newDob" type="date" />
        </mat-form-field>
        <button mat-raised-button  (click)="updateDob()">Update DOB</button>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Update Password</mat-label>
          <input matInput [(ngModel)]="password" type="text" />
        </mat-form-field>
        <button mat-raised-button (click)="updatePassword()">Update password</button>
      </div>
    
    </mat-card>
    
  </div>
  <ng-template #loading>
    <p>Loading profile...</p>
  </ng-template>
  
</body>
</html>